{% extends "shared/layout.html" %}

{% block pageTitle %}Login{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth/login.css') }}">
<div class="loginDiv">
    <h3>Login</h3>
    <form method="POST" action="/login">
        <input class="userInput" id="user-email" name="user-email" type="email" placeholder="Enter your email" required>
        <input class="userInput" id="user-password" name="user-password" type="password"
            placeholder="Enter your password" required>
        {% with flash_errors = get_flashed_messages(category_filter=["error"]) %}
        {% if flash_errors %}
        {%- for error in flash_errors %}
        <div class="flashMessage flashError">
            {{error}}
        </div>
        {% endfor -%}
        {% endif %}
        {% endwith %}
        {% with success_msgs = get_flashed_messages(category_filter=["success"]) %}
        {% if success_msgs %}
        {%- for msg in success_msgs %}
        <div class="flashMessage flashSuccess">
            {{msg}}
        </div>
        {% endfor -%}
        {% endif %}
        {% endwith %}
        <input class="userInput primaryButton" type="submit" value="Login">
        <a class="userInput" href="/register">Don't have an account? Please Register</a>
    </form>
</div>
{% endblock %}