{% extends "shared/layout.html" %}

{% block pageTitle %}Register{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth/login.css') }}">
<div class="loginDiv">
    <h3>Create a new account</h3>
    <form method="POST" action="/register">
        <input class="userInput" id="user-name" name="user-name" type="text" placeholder="Enter your name " required>
        <input class="userInput" id="user-email" name="user-email" type="email" placeholder="Enter your email" required>
        <input class="userInput" id="user-password" name="user-password" type="password"
            placeholder="Enter your password" required>
        <input class="userInput primaryButton" type="submit" value="Register">
        {% with flashes = get_flashed_messages() %}
        {% if flashes %}
        <div class="flashMessage">
            {{flashes[0].message}}
        </div>
        {% endif %}
        {% endwith %}
    </form>
</div>
{% endblock %}