<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block pageTitle %}{% endblock %} - p2pPayments</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/shared/layout.css') }}">
</head>

<body>
  {% block header %}
  <div class="headerDiv">
    <div class="headerContent">
      <h4>Peer to Peer Payment System</h4>
      {% if currentUser %}
      <a class="noStyleLink" href="/logout">Logout</a>
      {% endif %}
    </div>
  </div>
  {% endblock %}

  <div class="mainContentDiv">
    {% block body %}{% endblock %}
  </div>

</body>

</html>


<!-- <!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
  </head>
  <body>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
      {% block footer %}
      &copy; Copyright 2010 by <a href="http://domain.invalid/">you</a>.
      {% endblock %}
    </div>
  </body>
</html> -->