body {
    margin:0px;
    padding:0px;
    font-family: Arial, Helvetica, sans-serif;
}

.headerDiv{
    padding:10px 20px 10px 20px;
    background-color: #34495e;
}

.headerContent{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 1025px) {
    .headerContent{
        max-width: 1024px;
        margin: auto;
    }
}

.mainContentDiv{
    padding: 20px;
    margin-top: 20px;
}

.userInput{
    margin-top: 10px;
    padding:5px;
    font-size: 13px;
}

.primaryButton{
    background-color: #F39C15;
    border: none;
    line-height: 30px;
}

.flashMessage{
    margin-top: 10px;
    padding: 10px;
    font-size: 13px;
}

.flashError{
    background-color: lightcoral !important;
}

.flashSuccess{
    background-color: lightgreen !important;
}

.noStyleLink{
    text-decoration: none;
    color: white !important;
}