.loginDiv{
    /* border: solid;
    border-width: 1px;
    border-color: gray; */
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 10px;
    margin: auto;
    background-color: #ecf0f1;
    padding:15px;
}

.accInfo{
    margin:5px;
}

form{
    display: inline-grid;
}
