.sectionDiv{
    padding: 10px;
    margin: auto;
    background-color: #ecf0f1;
    padding:15px;
    display: flex;
    margin:auto;
    /* width: 400px; */
    flex-direction: column;
}

@media screen and (min-width: 600px) {
    .sectionDiv{
        width: 400px;
    }
}

p{
    margin: 1px;
}

.sectionTitle{
    font-weight: bold;
}

.transactionsList{
    margin:5px;
}

.transaction{
    margin-top: 5px;
    padding: 3px;
    border-left-width: 3px;
    border-left-style: solid;
}

.credit{
    border-left-color: #40cc71;
}

.debit{
    border-left-color: #b73939;
}

form{
    display: inline-grid;
}

.transactionInfo{
    font-size: 13px;
}

.accInfo{
    font-size: 13px;
}