{% extends "shared/layout.html" %}

{% block pageTitle %}Home{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home/home.css') }}">

{% with flash_errors = get_flashed_messages(category_filter=["error"]) %}
{% if flash_errors %}
{%- for error in flash_errors %}
<div class="sectionDiv flashError">
    {{error}}
</div><br>
{% endfor -%}
{% endif %}
{% endwith %}
{% with success_msgs = get_flashed_messages(category_filter=["success"]) %}
{% if success_msgs %}
{%- for msg in success_msgs %}
<div class="sectionDiv flashSuccess">
    {{msg}}
</div><br>
{% endfor -%}
{% endif %}
{% endwith %}

<div class="sectionDiv">
    <p class="sectionTitle">Summary</p>
    <div class="accInfo">
        <p>User Name: {{currentUser.name}}</p>
        <p>User Email: {{currentUser.email}}</p>
        <p>Account Number : {{currentUser.accounts[0].no}}</p>
        <p>Account Balance: Rs.{{currentUser.accounts[0].balance}}</p>
    </div>
</div>
<br>
<div class="sectionDiv">
    <p class="sectionTitle">Transfer Money</p>
    <form method="POST" action="/transferMoney">
        <input name="transfer-amount" class="userInput" type="number" step="0.01" placeholder="Amout" required>
        <input name="receiver-email" class="userInput" type="email" placeholder="Receiver's Email" required>
        <input name="transfer-message" class="userInput" type="text" placeholder="Message to Receiver">
        <input class="userInput primaryButton" type="submit" value="Send">
    </form>
</div>
<br>
{% if transactions %}
<div class="sectionDiv">
    <p class="sectionTitle">Your Transactions</p>
    <div class="transactionsList">
        {%- for transaction in transactions %}
        {% if (transaction.sent_from == currentUser.email) %}
        <div class="transaction debit">
            <p class="transactionInfo">
                Transaction Type : DEBIT
            </p>
            <p class="transactionInfo">
                Transaction ID : {{transaction.uid}}
            </p>
            <p class="transactionInfo">
                To : {{transaction.received_to}}
            </p>
            <p class="transactionInfo">
                Message : {{transaction.message}}
            </p>
            <p class="transactionInfo">
                Time : {{transaction.date_time}}
            </p>
        </div>
        {% else %}
        <div class="transaction credit">
            <p class="transactionInfo">
                Transaction Type : CREDIT
            </p>
            <p class="transactionInfo">
                Transaction ID : {{transaction.uid}}
            </p>
            <p class="transactionInfo">
                From : {{transaction.sent_from}}
            </p>
            <p class="transactionInfo">
                Message : {{transaction.message}}
            </p>
            <p class="transactionInfo">
                Time : {{transaction.date_time}}
            </p>
        </div>
        {% endif %}
        {% endfor -%}
    </div>
</div>
{% endif %}

{% endblock %}